table {
    font-family: Arial,sans-serif;
    border-collapse:collapse;
    width: 75%
}
td,th{
    border: 1px;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}